body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

.invisivel {
	display: none;
}

br {
	clear: left;
}

label,  input, select {
	display: block;
	float: left;
}

label {
	text-align: right;
	width: 120px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.conteudo{
  display:none
}

#resposta {
	font-weight: bold;
}

.formCampos {
	margin-left: 267px;
}

.formCampos2 {
	margin-left: 125px;
}

.formCampos3 {
  margin-left: 225px;
}

.formCampos4 {
  margin-left: 120px;
  margin-right: 120px;
}

#button-criar-vagas {
  margin-left: 300px;
  margin-right: 300px;
}

#escolher-sessao {
    margin-left: 5px;
    margin-top: -2px;
}

#acessar, #cadastrar, #alterar-senha, #salvar-vaga {
	margin-left: 20px;
}

#principal {
	position: relative;
	width: 925px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
}

#menu, #menu-usuario, #menu-admin {
	margin-top: 5px;
}

#menu ul, #menu-usuario ul, #menu-admin ul {
	padding:0px;
	margin:0px;
	background-color:#EDEDED;
}

#menu ul li, #menu-usuario ul li, #menu-admin ul li { 
	display: inline; 
}

#menu ul li a {
	font-weight: bold;
	padding: 2px 63px;
	display: inline-block;
	/* visual do link */
	background-color:#EDEDED;
	font-size: 15px;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

#menu-usuario ul li a {
	font-weight: bold;
	padding: 2px 192px;
	display: inline-block;
	/* visual do link */
	background-color:#EDEDED;
	font-size: 15px;
	color: #333;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

#menu-admin ul li a {
  font-weight: bold;
  padding: 0px 192px;
  display: inline-block;
  /* visual do link */
  background-color:#EDEDED;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  border-bottom:3px solid #EDEDED;
}

#disponiveis {
  margin-left: 19px;
  margin-top: 10px;
  width: 56px;
}

#menu ul li a:hover, #menu-usuario ul li a:hover, #menu-admin ul li a:hover {
	background-color:#D6D6D6;
	color: #6D6D6D;
	border-bottom:3px solid #EA0000;
}

#atualizar-disponiveis {
  margin-left: 0;
  margin-top: 10px;
}

#conteudo {
	margin-top: 14px;
}

.remover {
  margin-left: 26px;
  margin-top: 8px;
}

.remover-vaga {
    margin-left: 26px;
    margin-top: 9px;
}

#rodape p {
	font-weight: bold;
	background-color:#EDEDED;
}

/*Bootstrap CSS*/
table {
  max-width: 100%;
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  float: none;
  display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
  float: none;
  display: table-cell;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td {
  background-color: #d0e9c6;
  border-color: #c9e2b3;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
  border-color: #eed3d7;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #ebcccc;
  border-color: #e6c1c7;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td {
  background-color: #faf2cc;
  border-color: #f8e5be;
}